body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

.modal div {
	border-radius: 0;
	width: 420px;
}

.modal-header {
	height: 60vh;
}

div.quantity {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: auto;
}

div.quantity .btn-group {
	width: 60%;
	padding-top: 0.1vh;
	padding-left: 1.4vw;
}

div.quantity .price {
	width: 30%;
	text-align: center;
}

div.quantity button:disabled {
	cursor: default;
}

#cart-dropdown {
	margin-top: 1vh;
}

.dropdown-menu {
	width: 33vw;
}

.nav-cart-total {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 1.5vw;
}

.nav-cart-total:first-child {
	padding-top: 1vh;
}
